@use '../abstract/variables' as v;
@use './colors';

.btn {
  @include colors.glassy-background;
  --background-alpha: 50%;
  --background-alpha-hover: 70%;
  --background-alpha-focus: 70%;

  cursor: pointer;
  border: none;
  padding: v.$spacing-1 v.$spacing-4;

  &.symbol {
    line-height: 1;
  }

  &.delete,
  &.save {
    --background-alpha: 80%;
    --background-alpha-hover: 100%;
    --background-alpha-focus: 100%;
    color: white;
  }

  &.delete {
    --background-color: var(--color-error);
  }

  &.save:not(:disabled) {
    --background-color: var(--color-success);
  }

  &:disabled,
  &.disabled {
    opacity: 10%;
    @media (prefers-color-scheme: light) {
      color: black;
    }
  }

}
