@use '../abstract/variables' as v;

@mixin input-spacing {
  margin-bottom: v.$spacing-2;
}

@mixin input-validation {
  border-bottom: 3px solid hsl(var(--color-neutral) / 50%);

  &.ng-dirty,
  &.ng-touched {
    &.ng-valid {
      border-bottom-color: hsl(var(--color-success) / 50%);
    }

    &.ng-invalid {
      border-bottom-color: hsl(var(--color-error) / 50%);
    }
  }
}

.input-control {
  display: block;
  width: 100%;

  @include input-spacing;
  padding: v.$spacing-1 v.$spacing-2;

  border: none;
  @include input-validation;
}

.fieldset {
  border: 1px solid hsl(var(--color-neutral) / 50%);
  padding: v.$spacing-2;
  @include input-spacing;

  legend {
    padding-inline: v.$spacing-2;
  }

  &.validation {
    @include input-validation;
  }
}

.loading-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid !important;
  place-content: center;
  background-color: hsl(0, 0%, 0%, 0.5);
}
