$ball-size: 1em;
$bounce-height: 1.5em;
$animation-duration: 0.75s;

:host {
  display: grid;
  place-content: center;
  height: 100%;
  text-align: center;
  user-select: none;
}

.ball-container {
  display: flex;
  align-items: flex-end;
  gap: 0.5em;
  min-height: $ball-size + $bounce-height;
}

.ball {
  animation: bounce $animation-duration infinite ease-out;
}

.ball:nth-child(2) {
  animation-delay: $animation-duration * 0.25;
}

.ball:nth-child(3) {
  animation-delay: $animation-duration * 0.5;
}

.ball:nth-child(4) {
  animation-delay: $animation-duration * 0.75;
}

@keyframes bounce {
  0% {
    translate: 0 0;
    animation-timing-function: ease-out;
  }
  50% {
    translate: 0 (-1 * $bounce-height);
    animation-timing-function: ease-in;
  }
  100% {
    translate: 0 0;
    animation-timing-function: ease-out;
  }
}
