<fieldset [ngClass]="ngClasses()" class="fieldset validation">
    <legend>Teams</legend>
    <div *ngFor="let player of players() | sortBy : ['lastName', 'firstName']" class="player-selection">


        <div class="player-selection-name">
            {{player.firstName}} {{player.lastName}}
        </div>

        <div class="team-buttons">
            <div class="player-selection-buttons yellow">
                <app-player-selection-button (click)="onTouched?.()"
                                             [disabled]="disabled"
                                             [player]="player"
                                             [teams]="teams"
                                             position="defender"
                                             team="yellow"/>

                <app-player-selection-button (click)="onTouched?.()"
                                             [disabled]="disabled"
                                             [player]="player"
                                             [teams]="teams"
                                             position="attacker"
                                             team="yellow"/>
            </div>
            <div class="player-selection-buttons black">
                <app-player-selection-button (click)="onTouched?.()"
                                             [disabled]="disabled"
                                             [player]="player"
                                             [teams]="teams"
                                             position="defender"
                                             team="black"/>

                <app-player-selection-button (click)="onTouched?.()"
                                             [disabled]="disabled"
                                             [player]="player"
                                             [teams]="teams"
                                             position="attacker"
                                             team="black"/>
            </div>
        </div>


    </div>
</fieldset>
