:host {
  display: block;
}

.btn {
  height: 100%;

  :host.selected & {
    &.yellow {
      --background-color: 40 100% 60%;
    }

    &.black {
      --background-color: 291 76% 50%;
    }
  }
}


