<table class="player-table">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>E-Mail</th>
  </tr>
  <tr *ngFor="let player of playersService.playerChange$ | async; trackBy: playersService.playerTrackBy"
      [class.red]="editedPlayers.has(player.id)" class="player-item">
    <td (input)="onPlayerChange($event, player, 'firstName')" [contentEditable]="true">{{player.firstName}}</td>
    <td (input)="onPlayerChange($event, player, 'lastName')" [contentEditable]="true">{{player.lastName}}</td>
    <td (input)="onPlayerChange($event, player, 'email')" [contentEditable]="true">{{player.email}}</td>
    <td>
      <button (click)="onDeletePlayer(player)">Delete</button>
    </td>
  </tr>
</table>

<pre>
  {{editedPlayers | json}}
</pre>
