<h1>Foosball Manager</h1>

<p class="clr-bg-primary-400 mt-4 mb-2 pt-4 pb-2 p-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
  deserunt fuga ipsam minima nihil nostrum
  quos repellendus saepe ut voluptas.</p>
<p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam deserunt fuga ipsam minima nihil nostrum
  quos repellendus saepe ut voluptas.</p>

<p>Versuche die Utility Klassen in die IDE für Autovervollständigugn zu bekommen</p>

<router-outlet></router-outlet>
