@use '../styles/abstract/variables';

:host {
  height: 100vh;

  display: grid;
  grid-template-areas: "header"
                       "content"
                       "nav";
  grid-template-rows: min-content 1fr min-content;
}

main {
  grid-area: content;
  padding: variables.$spacing-3;
  overflow: auto;
}

app-header {
  grid-area: header;
}

app-navigation {
  grid-area: nav;
}
