@use "../../../styles/abstract/variables" as v;
@use "../../../styles/abstract/mixins";

:host {
  display: block;
}

fieldset {
  border: 1px solid hsl(var(--color-neutral) / 50%);
  margin-bottom: v.$spacing-5;
  padding: v.$spacing-2;
}

legend {
  padding-inline: v.$spacing-2;
}

.versus-text {
  text-align: center;
  padding: v.$spacing-1 v.$spacing-4;
}

@include mixins.media-breakpoint-up('sm') {
  fieldset {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > app-team-overview {
      flex: 1;
    }
  }
}
