@use '../../../styles/breakpoint';

$color-black-font: white;

:host,
.team,
.players {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.team {
  flex: 1;

  &-black {
    --color-background: #641797;
    color: $color-black-font;
  }

  &-yellow {
    --color-background: #e8c53a;
    justify-content: right;
  }
}

.score {
  padding: 0.5rem 0.5rem;
  height: 100%;
  min-width: 4ch;
  text-align: center;
  border: 1px solid var(--color-background);
  border-radius: var(--border-radius);
  font-weight: bold;
  color: var(--font-color);

  .winner > & {
    background-color: var(--color-background);
    color: $color-black-font;
  }
}

.players {
  flex: 1;

  .team-yellow & {
    flex-direction: row-reverse;
  }
}
