.games-of-day-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);

  border-radius: var(--border-radius);
  border: 2px solid var(--neutral-200);

  padding: var(--space-md);
  margin-bottom: var(--space-xl);
}

.game-date {
  padding-inline: var(--space-sm);
}
