<div class="team-score">{{score}}</div>

<div class="team-players">

  <div class="team-player defender">
    <div class="team-player-name">{{defender.firstName}} {{defender.lastName}}</div>
    <div class="team-position-icon defender material-symbols-sharp">shield</div>
  </div>

  <div class="team-player attacker">
    <div class="team-player-name">{{attacker.firstName}} {{attacker.lastName}}</div>
    <div class="team-position-icon attacker material-symbols-sharp">swords</div>
  </div>

</div>
