@use "../../../../styles/abstract/variables" as v;
@use "../../../../styles/abstract/mixins";

:host {
  display: flex;
  border: 1px solid transparent;

  @include mixins.media-breakpoint-up('sm') {
    flex-direction: row-reverse;
    &.reverse-players-order {
      flex-direction: row;
    }
  }
}

.team {

  &-score {
    display: inline-grid;
    place-content: center;
    text-align: center;
    padding: v.$spacing-2;
    min-width: 2ch;
    box-sizing: content-box;
    background-color: hsl(var(--currentColor, var(--color-neutral)) / 50%);
  }

  &-players {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: hsl(var(--color-neutral) / 10%);

    @include mixins.media-breakpoint-down('xs') {
      :host.reverse-players-order & {
        flex-direction: column-reverse;
      }
    }
  }

  &-player {
    display: flex;
    align-items: center;
    padding: v.$spacing-2 v.$spacing-3;
    gap: v.$spacing-2;

    &-name {
      flex: 1;
    }

    @include mixins.media-breakpoint-up('sm') {
      flex-direction: row-reverse;
      text-align: end;
      :host.reverse-players-order & {
        text-align: start;
        flex-direction: row;
      }
    }
  }

  &-position-icon {
    font-size: 1.25em;
    user-select: none;
    color: hsl(var(--currentColor, var(--color-neutral)) / 50%);
  }
}

:host.winner {
  .team-position-icon,
  .team-score {
    --currentColor: var(--color-success);
  }
}

:host.loser {
  .team-position-icon,
  .team-score {
    --currentColor: var(--color-error);
  }
}

:host.perfect-win {
  --color-gold: 255, 200, 0;
  --color-gold-shine: 255, 231, 0;

  border-color: rgb(var(--color-gold));

  .team-score,
  .team-position-icon {
    color: rgb(154, 91, 0);
    font-weight: bold;
    background: linear-gradient(
        136deg,
        transparent 10%,
        rgb(var(--color-gold-shine), 0.5) 10%,
        rgb(var(--color-gold-shine), 0.5) 40%,
        transparent 40%,
        transparent 53%,
        rgb(var(--color-gold-shine), 0.5) 53%,
        rgb(var(--color-gold-shine), 0.5) 71%,
        transparent 71%
    ) rgb(var(--color-gold));
  }

  .team-position-icon {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

.versus-text {
  text-align: center;
  padding-block: v.$spacing-2;
}
