<form #form="ngForm" (ngSubmit)="onSave()">
    <input [(ngModel)]="_player.firstName"
           name="firstName"
           type="text">

    <input [(ngModel)]="_player.lastName"
           name="lastName"
           type="text">

    <input [(ngModel)]="_player.email"
           name="email"
           type="text">

    <span *ngIf="!loading; else loadingElement">
        <button [disabled]="form.invalid"
                type="submit">
            Save
        </button>
        <button (click)="onCancel()"
                type="button">
            Cancel
        </button>
    </span>
    <ng-template #loadingElement>
        <span>loading...</span>
    </ng-template>
</form>
