<form #form="ngForm" (ngSubmit)="onSave()">
    <input [(ngModel)]="_player.firstName"
           name="firstName"
           required
           type="text">

    <input [(ngModel)]="_player.lastName"
           name="lastName"
           required
           type="text">

    <input [(ngModel)]="_player.email"
           name="email"
           email
           type="text">

    <div *ngIf="!loading; else loadingElement" class="buttons">
        <button [disabled]="form.invalid"
                type="submit">
            <span class="material-symbols-outlined">save</span>
        </button>
        <button (click)="resetForm()"
                type="button">
            <span class="material-symbols-outlined">cancel</span>
        </button>
    </div>
    <ng-template #loadingElement>
        <div>loading...</div>
    </ng-template>
</form>
