:host,
.player-form {
  display: contents;
}

.player {

  &-id {
    min-width: 1.5em;
    text-align: center;
  }

  &-input {
    border: 1px solid black;
    height: 100%;

    &:focus {
      outline: none;
    }

    &.edited {
      color: #e58933;
    }

    &.ng-invalid.ng-touched {
      border-color: red;
    }
  }
}

.grid-span-2 {
  grid-column: span 2;
}
