:host {
  display: block;
  margin-bottom: var(--spacing-2);
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 8rem;

  &.new-player.ng-pristine {
    opacity: 20%;
  }

  .ng-dirty,
  .ng-touched {
    &.ng-valid {
      border-left-color: var(--color-success-400);
    }

    &.ng-invalid {
      border-left-color: var(--color-error-400);
    }
  }
}

form,
.buttons {
  gap: var(--spacing-1);
}

.buttons {
  display: flex;

  > * {
    flex: 1;
  }
}

.btn-symbol {
  all: unset;
  cursor: pointer;
  text-align: center;
  display: inline-grid;
  place-content: center;
  height: 100%;

  > span {
    font-size: 2rem;
  }

  &.disabled > span {
    color: var(--color-error-400);
  }
}

input {
  border: 1px solid black;
  border-left-width: 4px;
  width: 100%;
  padding: var(--spacing-1) var(--spacing-2);

  &:focus {
    outline: none;
  }
}

.loading {
  display: inline-grid;
  place-content: center;
}
