<form #form="ngForm"
      (keydown.escape)="onEscape($event)"
      (ngSubmit)="onSave()"
      [class.new-player]="newPlayer"
      class="">

  <input [(ngModel)]="_player.firstName"
         name="firstName"
         placeholder="First name"
         required
         class="glassy-background"
         type="text">

  <input [(ngModel)]="_player.lastName"
         name="lastName"
         placeholder="Last name"
         required
         class="glassy-background"
         type="text">

  <input [(ngModel)]="_player.email"
         email
         name="email"
         placeholder="E-Mail"
         class="glassy-background"
         type="text">

  <div *ngIf="!loading; else loadingElement" class="btn-container">
    <ng-container *ngIf="form.dirty">
      <button [disabled]="!form.valid"
              class="btn-symbol save glassy-background"
              type="submit">
        <span class="material-symbols-outlined">save</span>
      </button>
      <button (click)="resetForm()"
              class="btn-symbol cancel glassy-background"
              type="button">
        <span class="material-symbols-outlined">cancel</span>
      </button>
    </ng-container>
    <button (click)="onDelete()" *ngIf="!newPlayer"
            class="btn-symbol delete glassy-background"
            type="button">
      <span class="material-symbols-outlined">delete</span>
    </button>
  </div>

  <ng-template #loadingElement>
    <div class="loading">loading...</div>
  </ng-template>
</form>
