@use '../../../styles/abstract/mixins';
@use '../../../styles/abstract/variables' as v;

:host {
  display: block;
  margin-bottom: v.$spacing-4;
  position: relative;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  gap: v.$spacing-1;
}

.loading-container {
  position: absolute;
  inset: 0;
  display: inline-grid;
  place-content: center;
}
