/* You can add global styles to this file, and also import other style files */

@layer reset {
  @import "styles/reset";
}

@layer utility {
  @import "styles/utility";
}


body {
  color: var(--color-page-font);
  background-color: var(--color-page-background);
  font-family: Roboto, sans-serif;
}
