@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,1,0";

@layer reset {
  @import "styles/reset";
}

@layer utility {
  @import "styles/utility";
}

:root {
  color-scheme: dark light;
}

body {
  font-family: Roboto, sans-serif;

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-background-dark);
  }
}

