<nav class="nav">
  <ul class="nav-list">
    <li class="nav-item">
      <a [routerLink]="['/scoreboard']" class="nav-link" routerLinkActive="nav-link-active">
        <span class="nav-link-icon material-symbols-sharp">scoreboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/players']" class="nav-link" routerLinkActive="nav-link-active">
        <span class="nav-link-icon material-symbols-sharp">groups</span>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/games']" class="nav-link" routerLinkActive="nav-link-active">
        <span class="nav-link-icon material-symbols-sharp">sports_soccer</span>
      </a>
    </li>
  </ul>
</nav>
