@use '../../../styles/abstract/variables';

.nav {

  &-list {
    list-style: none;

    margin: 0;
    padding: variables.$spacing-2 variables.$spacing-3;

    display: flex;
    flex-direction: row;
    gap: variables.$spacing-2;
  }

  &-item {
    flex: 1;
  }

  &-link {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;

    color: inherit;
    text-decoration: none;

    border-radius: 0.5em;
    padding: variables.$spacing-1;

    &:hover {
      background-color: variables.$color-neutral;
    }

    &-icon {
      font-size: 2em;
    }
  }
}
